/* purgecss start ignore */
@tailwind base;

@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

/* purgecss start ignore */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Mono:wght@400;700&display=swap');

html,
body,
#__next {
  height: 100%;
}

.link {
  @apply flex items-center text-gray-800 font-semibold;
}

.link .link-keyword {
  @apply relative;
}

.link .link-keyword::before {
  @apply absolute bg-primary -left-0.5 -right-0.5 h-0.5 transition-all duration-200;

  z-index: -1;

  content: '';
  top: calc(100% - 2px);
}

.link:hover .link-keyword {
  @apply text-white;
}

.link:hover .link-keyword::before {
  @apply top-0 h-full rounded-sm;
}
